name: Continuous Integration
on:
  pull_request:
    branches:
      - master
jobs:
  main:
    name: Build & Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [20.x, 22.x, 24.x]
    steps:

      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - run: corepack enable
        # Required for yarn, when run via act locally

      - name: Install Dependencies
        run: yarn install

      - name: Lint Commit Message
        run: |
          echo $(git log -1 --pretty=format:"%s") | yarn commitlint

      - name: Build
        run: yarn build

      - name: Test
        run: yarn test
